<div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="forgot-password-form" (ngSubmit)="resetPassword()">
          <h2>Reset Password</h2>
          <div class="login__field">
            <i class="login__icon fas fa-envelope"></i>
            <input type="email" class="login__input" placeholder="Enter your email" [(ngModel)]="email" name="email">
          </div>
          <button type="submit" class="button login__submit">
            <span class="button__text">Send Reset Link</span>
          </button>
        </form>
      </div>
    </div>
  </div>
  