<main class="main-content">
    <aside class="sidebar">
        <h2>Tárgyak</h2>
        <ul>
            <li>Magyar nyelvtan</li>
            <li>Magyar irodalom</li>
            <li>Matematika</li>
            <li>Történelem</li>
            <li>Informatika</li>
        </ul>
        <h3>Szűrők</h3>
        <label><input type="checkbox"> Kurzus</label><br>
        <label><input type="checkbox"> Tananyag</label>
    </aside>
    <section class="content">
        <h2>Népszerű</h2>
        <div class="popular">
            <img src="/Math.jpg" alt="Matematika">
            <img src="/Read.jpg" alt="Irodalom">
            <img src="/History.jpg" alt="Történelem">
        </div>
        <h2>További tananyagok</h2>
        <div class="resources">
            <img src="/Geography.jpg" alt="Földrajz">
            <img src="/Biology.jpg" alt="Biológia">
            <img src="/Chemistry.jpg" alt="Kémia">
        </div>
        <br>
        <div class="resources">
          <img src="/Physics.jpg" alt="Fizika">
        </div>
    </section>
  </main>
