<main class="main-content">
    <aside class="sidebar">
        <h2>Tárgyak</h2>
        <ul>
            <li>Magyar nyelvtan</li>
            <li>Magyar irodalom</li>
            <li>Matematika</li>
            <li>Történelem</li>
            <li>Informatika</li>
        </ul>
        <h3>Szűrők</h3>
        <label><input type="checkbox"> Kurzus</label><br>
        <label><input type="checkbox"> Tananyag</label>
    </aside>
    <section class="content">
        <h2>Népszerű</h2>
        <div class="popular">
            <button class="image-button"><img src="/Math.jpg" alt="Matematika"></button>
            <button class="image-button"><img src="/Read.jpg" alt="Irodalom"></button>
            <button class="image-button"><img src="/History.jpg" alt="Történelem"></button>
        </div>
        <h2>További tananyagok</h2>
        <div class="resources">
            <button class="image-button_2"><img src="/Geography.jpg" alt="Földrajz"></button>
            <button class="image-button_2"><img src="/Biology.jpg" alt="Biológia"></button>
            <button class="image-button_2"><img src="/Chemistry.jpg" alt="Kémia"></button>
        </div>
        <br>
        <div class="resources">
          <button class="image-button_2"><img src="/Physics.jpg" alt="Fizika"></button>
        </div>
    </section>
  </main>
