<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="register" (submit)="validatePassword($event)">
                <div class="register__field">
                    <i class="register__icon fas fa-envelope"></i>
                    <input type="email" class="register__input"name="email" placeholder="Email" required>
                </div>
                <div class="register__field">
                    <i class="register__icon fas fa-lock"></i>
                    <input type="password" class="register__input" name="password" placeholder="Password" required>
                </div>
                <div class="register__field">
                    <i class="register__icon fas fa-lock"></i>
                    <input type="password" class="register__input" name="repassword" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="button register__submit">
                    <span class="button__text">Sign Up</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>       
            </form>
            <div class="social-login">
                <button class="login-button" (click)="navigateToLogin()">Login</button>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>    
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
          </div> 
    </div>
</div>
